/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.form-register {
    width: 500px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 2px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 105px;
    color: orangered;
}

.controls {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid orangered;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    border-radius: 50px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: black;
}

.form-register a {
    color: orangered;
    text-decoration: none;
}

.form-register a:hover {
    color: orangered;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: orangered;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 50px;
} */

.containerRegister {
    display: flex;
    flex-direction: row;

}

.regLeft {
    width: 20em;
    height: 25em;
    display: flex;
    flex-direction: column;
}

.inputReg {
    margin-top: 2em;
    width: 15em;
}

.inputRegError {
    margin-top: 2em;
    width: 15em;
    border-color: red;
}

.spinner {
    height: 2em;
    width: 2em;
}