body,
html {
  height: 100%;
}
.bg {
  background-image: url("../assets/images/burgers-57e8d64a4a_1280.jpg");
  height: 93vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
