

.principal {
  background-image: url(../../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5.5em;
  height: 100vh;


}


.titulo_home {
  border: 3px solid #F07800;
  text-align: center;
  width: 40%;
  margin: 1em auto;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #F07800;
  background-color: #f8f8f880;
  padding: 1em;
}

.main {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
  padding: 1em;
}

.left {
  border: 3px solid #F07800;
  text-align: center;
  width: 40%;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #F07800;
  height: 150px;
  padding: 1em;
  text-decoration: none;
  background-color: #f8f8f880;
}



.left:hover {
  background-color:#F07800;
  cursor: pointer;
  transition: .4s all ease;
  color: #f9f1f1;
  text-decoration: none;
}

.right {
  border: 3px solid #F07800;
  text-align: center;
  width: 40%;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #F07800;
  height: 150px;
  padding: 1em;
  text-decoration: none;
  background-color: #f8f8f880;
}

.right:hover {
  background-color:#F07800;
  cursor: pointer;
  transition: .4s all ease;
  color: #f9f1f1;
  text-decoration: none;
}
