.main {
    max-width: 80rem;
    margin: 0 auto;
}

.titulo .titulo_carta {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    text-align: center;
    font-weight: 400;
    font-style: normal;
   
    
    color: #683f2c;
    text-transform: uppercase;
    
    
}

.galeria_carta {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 60px;
}

.img_gal {
    box-shadow: 0 0.375rem 1.0625rem 0 rgba(0,0,0,.1);
    background-color: #fff;
    margin: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
    
    
}

.galeria_carta a {
    text-decoration: none;
    width: 100px;
    margin: 0ps 5px;
}

.galeria_carta img {
    transition:all .5s ease;
    width: 150px;

}
.galeria_carta img:hover {
    transform:scale(1.10);
}

.galeria_carta h4 {
    text-transform: uppercase;
   font-size: small;
   font-weight: bold;
   font-family: 'Oswald', sans-serif;
}