.others {
    display: flex;
    justify-content: space-around;
}

.others .title_other {
    text-align: center;
    padding: 0 2em;
    border-right: 2px solid #F07800;
}

.others .title_other .subtitle_other {
    color: #F07800;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.end {
    border-right: 2px solid transparent !important;
}

.sub_footer {
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
}
.sub_footer .text_subfooter {
    padding: 0 2em;
    margin: 2em 0;
    color: #6C757D;
    width: 33%;
    text-align: center;
}

.sub_footer .text_subfooter p {
    /* text-align: inherit; */
}
.sub_footer .text_subfooter .icons {
    color: #000000;
    font-size: 2.5em;
    margin-right: .5em;
    text-align: center;
}