.titulo .titulo_carta {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    text-align: center;
    font-weight: 400;
    font-style: normal;
   
    
    color: #683f2c;
    text-transform: uppercase;
    
    
}

.img_gal {
    box-shadow: 0 0.375rem 1.0625rem 0 rgba(0,0,0,.1);
    background-color: #fff;
    margin: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
}

.galeria_carta h4 {
    text-transform: uppercase;
   font-size: small;
   font-weight: bold;
   font-family: 'Oswald', sans-serif;
}