<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<body>
    <header className="bk-header">
        <a href="" className="bk-header_logo"><img src="https://static.burgerkingencasa.es/bkhomewebsite/images/logo.png" alt=""/></a>
        <a href="" className="bk-header_hamb"></a>
        <nav class="bk-header_nav">
            <ul class="bk-header_list">
                <li class="bk-header_item">
                    <a href="" class="bk-header_link">inicio</a>
                </li>
                <li class="bk-header_item">
                    <a href="" class="bk-header_link"></a>
                </li>
                <li class="bk-header_item">
                    <a href="" class="bk-header_link"></a>
                </li>
                <li class="bk-header_item">
                    <a href="" class="bk-header_link"></a>
                </li>
                <li class="bk-header_item">
                    <a href="" class="bk-header_link"></a>
                </li>
                <li class="bk-header_item">
                    <a href="" class="bk-header_link"></a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>