.bk-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #e0241a;
}

.container {
    max-width: 1160px;
}


.bk-header_logo {
    top: .3125rem;
    height: 6.5625rem;
    width: 6.5625rem;
}

.bk-header_nav {
    position: relative;
    z-index: 2;
    display: inline-flex;
    justify-content: space-between;
    min-height: auto;
    padding-left: 5.625rem;
    padding-top: 1.875rem;
    height: auto;
    overflow: inherit;
}

.bk-header_list {
    display: flex;
    align-items: center;
}

.bk-header_item {
    padding: 0 .9375rem;
    display: inline-block;
    text-align: left;
}

.bk-header_link {
    font-family: blockProPlusCon;
    text-transform: uppercase;
    color: #fff !important;
    font-size: 1.375rem;
    text-decoration: none;
    position: relative;
    line-height: 3.125rem;
    display: block;
    border-bottom: 3px solid transparent;
}

.bk-header_link:hover {
    border-bottom: 3px solid #fff;
}

.bk-header_submenu {
    position: absolute;
    z-index: 1;
    bottom: 0;
    transform: translateY(100%);
    left: 0;
    opacity: 0;
    pointer-events: none;
    font-family: blockProPlusCon;
    transition: .3s;
    padding-top: 1.3125rem;
}