.main_public {
    width: 100%;
    margin: 2.5em auto;
    margin-bottom: 0;
    padding: 1em;
    /* background-image: url(../../img/fondo_carta.jpg);
    background-size: cover; */
}


.container_public {
    display: flex;
    padding: 3em;
    justify-content: space-evenly;
    margin: 3em 0 1em 0;
    /* border-radius: 50%;  */
}

.left_is {
    width: 30%;
    background-color: #f8f8f880;
    /* border-radius: 50%; */
    padding: 2em;
}

#img_left7 {
    width: 400px;
    background-image: url(../../img/imagen7.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
    height: 200px;
    margin-top: 3em;

}

.titulo_menu {
    margin-top: 1em;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    color: #F07800;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.right_is .subtitulo_menu {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #F07800;
    padding: 0 1em;
}

.right_is button {
    width: 50%;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    background-color: #F07800;
    color: #fff;
    border-radius: 1.875rem;
    margin: .5em 0;
    padding: .2em;
    text-transform: uppercase;
    border-color: #F07800;
}

.right_is button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #F07800;
    transition: .7s all ease;
}

.left_is .titulo_menu .right {
    width: 40%;
}

.right_is {
    width: 40%;
    /* align-items: center; */
    /* display: flex;
    flex-direction: row; */
    text-align: center;
    background-color: #f8f8f880;
    /* border-radius: 2em; */
    padding: 2em;
}

