body {
    background-image: url(../img/port1.jpg);
}

.logo {
    width: 105px;
    top: 23px;
    left: 40px;
    position: absolute;
}
#menu {
    margin-top: 50px;
    background-color: red;
}

#left {
    margin-left: 160px;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    font-family: sans-serif;
    color: white;
    display: block;
    padding: 13px 10px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

#menu ul li a:hover {
    transition: .5s all ease;
    border-bottom: 3px solid #fff;
}

.item {
    float: right;
}